.main {
  display: flex;
  flex-direction: column; 
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  top: 50%;
  left: 50%;
  background-color: #121212;
  padding: 1em 2em;
  min-width: 40vw;
  min-height: 40vh;
  color: white;
  box-shadow: 5px 10px #888888;
  border-radius: .5em;
}

input[type="text"] {
  border: none;
  padding: .3em .6em;
  border-radius: 1em;
}

button {
  padding: .4em .6em;
  border: none;
  background-color: #295CA4;
  color: white;
  border-radius: .5em;
}

button:hover {
  cursor: pointer;
  background-color: #45D1F5;
}